<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Logo Page</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- My own static styles -->
    <link rel="stylesheet" href='{% static "css/mystyles.css" %}' />

</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                This is a picture of Django himself!
            </h1>
            <img src='{% static "images/framework-django.png" %}' width="200px" height="200px" alt="Ops, this picture didn't work" />
        </div>
    </div>
</body>
</html>